*{
    padding: 0;
    margin:0;
    list-style: 0;
    outline: none;
    border: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #ececec;
}

div.background{
    position: absolute;
    left: 0;
    width: calc(100% - 300px);
    height: 100%;
    background: url(../assets/images/login-background.jpg);
    background-size: cover;
}

/**
* stylesheet to login pages
*/

#conteudo-view{
    position: absolute;
    float: right;
    right: 0;
    width: 300px;
    height: 100%;
    background: #51dca6;
    padding: 20px;
    
}

#conteudo-view h1{
    font: 3em 'Fredoka One', cursive;
    color: #f3f3f3;
    float: left;
    width: 100%;
    margin-top: 50px;

}

#conteudo-view h3, form p{
    font: .8em 'Fredoka One', cursive;
    color: #f3f3f3;
    float: left;
    width: 100%;
}

#conteudo-view form, form label{
    float:left;
    width: 100%;
    margin-bottom: 10px;
}

#conteudo-view form{
    margin-top: 40px;
}

#conteudo-view form p{
    font-size: 1.25em;
}
#conteudo-view form label input, form input[type="submit"]{
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    border: 2px solid #52ca9b;
    color: #959595;
    font: 1em 'Arial';
}

#conteudo-view form input[type="submit"]{
    float: right;
    width: 60%;
    background: #00ff9c;
    text-align: center;
    font: 1em 'Fredoka One', cursive;
    color: #f9f9f9;
}

/**
* stylesheet to menu lateral
*/

#principal{
    position: fixed;
    float: left;
    width: 220px;
    height: 100%;
    border-right: 1px solid #d9d9d9;
    background: #ffffff;
    z-index: 5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.664);
}

#principal ul, ul li{
    float: left;
    width: 100%;
}

#principal ul li a{
    float: left;
    width: 100%;
    height: 80px;
    color: #3c3c3c;
    border-bottom: 1px solid #d9d9d9;
}

#principal ul li a i{
    float: left;
    height: 80px;
    width: 80px;
    color: inherit;
    text-align: center;
    line-height: 80px;
    font-size: 2em;
}

#principal ul li a h3{
    float: left;
    height: 80px;
    width: 80px;
    font: 1.25em/80px 'Fredoka One', cursive;
    color: inherit;
}

#principal ul li a:hover h3{
    color: #00ff9c;
}

#view-conteudo{
    position: fixed;
    float: left;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 240px;
    z-index: 1;
}

form.form-padrao{
    float: left;
    width: 100%;
}

form.form-padrao label{
    float: left;
    width: 49%;
    height: 60px;
    padding: 7px 15px;
    border: 1px solid #cfcfcf;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

form.form-padrao label:nth-last-of-type(odd){
    margin-left: 2%;
}

form.form-padrao label span{
    float: left;
    width: 100%;
    font: 400 .75em 'Arial';
    color: #c7c7c7;
    padding-bottom: 5px;
}

form.form-padrao label input{
    float: left;
    width: 100%;
    color: #5c5c5c;
    font: 400 1.25em 'Arial';
    background: transparent;
}

form.form-padrao label.submit{
    background: #28d18d;
    border-color: #31c789
}

form.form-padrao label.submit input{
    font-weight: 600;
    line-height: 40px;
    color: #f9f9f9; 
}

.default-table{
    float: left;
    width: 100%;
    font: 400 .9em 'Arial';
    background: #fff;
    color: #3c3c3c;
    border: 1px solid rgb(182, 181, 181);
    padding: 10px;
    border-radius: 5px;
}

.default-table thead{
    text-transform: uppercase;
    font-size:  .8em;
    font-weight: 800;
}

.default-table thead tr{
    height: 20px;
}
.default-table tbody tr{
    height: 20px;
}